{% extends "layout.html" %}

{% block body %}

{% if images %}
	<style>
		table {
				width: 100%;
				border-collapse: collapse;
		}
		th, td {
				border: 1px solid #ddd;
				padding: 8px;
				text-align: center;
		}
		th {
				background-color: #f2f2f2;
		}
		td:nth-child(1) {
				width: 150px;
		}
		td:nth-child(2) {
				width: 250px;
		}
		td:nth-child(3) {
				width: 100px;
		}
		td:nth-child(4) {
				width: 150px;
		}
		td:nth-child(5) {
				width: 70px;
		}
		img {
				max-width: 100px;
				height: auto;
		}
	</style>
	<div style="margin-bottom:10px;width:90%;display:flex;justify-content:space-between;">
		<h2>All images</h2>
		<a id="add_new">Add new</a>
	</div>
	<table>
		<thead>
			<tr>
				<th>Image</th>
				<th>Filename</th>
				<th>Price</th>
				<th>Category</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for image in images %}
				<tr>
					<td><img src="static/img/{{ image.filename }}" alt="{{ image.filename }}"/></td>
					<td>{{ image.filename }}</td>
					<td>{{ image.price }}</td>
					<td>{{ image.category }}</td>
					<td><a id="{{ image.filename }}" class="delete-btn">Edit</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="pages"></div>
	<script>
		const href = window.location.href;
		const tokenArg = href.match(/\??token=.*/g);
		if (tokenArg) {
			const token = tokenArg[0].split("=")[1];
			document.querySelector("a#add_new").href = `/add_new_image?token=${ token }`;
			document.querySelectorAll("a.delete-btn").forEach(a => a.href = `/dashboard/edit?filename=${ a.id }&token=${ token }`);
		}
	</script>
	<script src="/static/js/pagination.js"></script>
	<script>
		const N_SHOW = 8;
		const n_imgs = {{ n_images }};

		const pagesShow = Math.ceil(n_imgs / N_SHOW);

		setPagination(pagesShow);
	</script>
{% endif %}

{% endblock %}
