* {
		margin: 0;
		padding: 0;
}

body {
		display: flex;
		overflow-x: hidden;
		justify-content: center;
		align-items: center;
}

div#main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		width: 80vw;
}

div#carousel-track {
		display: flex;
		width: max-content;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		align-self: start;
		margin-top: 20px;
}

@keyframes scroll {
		from {
				transform: translateX(0);
		}
		to {
				transform: translateX(-50%);
		}
}

.carousel-img {
		flex: "0 0 100px";
}

div#art-grid {
		display: grid;
		grid-template-columns: 270px 270px 270px 270px;
}

.gallery-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2em;
}

.gallery-item > img {
		max-width: 220px;
}

.gallery-item > * {
		margin-top: 5px;
}

img#landing {
		width: 100vw;
		margin-bottom: 50px;
}

div#header {
		display: flex;
		justify-content: space-between;
		margin: 25px 0;
		width: 100%;
}

div#accounts {
		self-justify: center;
		display: flex;
		justify-content: center;
		align-items: center;
}

div#accounts a {
		border: 1px solid black;
		margin: 0 5px;
		padding: 2px 5px;
}

div#header h2 {
		text-decoration: underline;
		margin-bottom: 15px;
}

div#categories {
		display: flex;
		margin-top: 10px;
		margin-bottom: 50px;
}

div#categories a {
		font-size: 17px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 4px 5px;
		border: 1px solid black;
		margin: 0 10px;
		text-decoration: none;
		color: black;
		cursor: pointer;
}

div#navlinks {
		display: flex;
}

div#navlinks a {
		margin: 0 15px;
		text-decoration: none;
		color: black;
}

.home-card {
		border-left: 2px black solid;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
}

div#cards {
		display: grid;
		grid-template-columns: 250px 250px 250px;
		margin-top: 70px;
		margin-bottom: 50px;
}

div#pages {
		margin: 10px 0;
}
