{% extends "layout.html" %}

{% block body %}

<div id="main">
	<div id="header">
		<div>
			<h2>Art page</h2>
			<div id="navlinks">
				<a href="#">Paintings</a>
				<a href="#">Photography</a>
			</div>
		</div>
		<div id="accounts">
			<a>Login</a>
			<a>Register</a>
		</div>
	</div>
	<img id="landing" src="static/img/02.jpg">
	<div id="categories">
		<a href="#">Landscapes</a>
		<a href="#">Paintings</a>
		<a href="#">Modern art</a>
		<a href="#">Abstract art</a>
		<a href="#">Sculpture</a>
	</div>
	<h1 style="">Celebrate 15 Years of Discovering Art You Love</h1>
  <div id="carousel-track">
		{% if images %}
			{% for image in images %}
				<div>
					<img style="flex:0 0 100px;max-width:220px;margin:10px;" class="carousel-img" src="/static/img/{{ image.filename }}"/>
				</div>
			{% endfor %}
		{% endif %}
  </div>
	<div id="cards"></div>
	<div id="art-grid">
		{% if images %}
			{% for image in images %}
				<div class="gallery-item">
					<img src="/static/img/{{ image.filename }}"/>
					<h3>${{ image.price }}</h3>
					<a href="#">Explore the Best Art of the Season</a>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
<script src="/static/js/Card.js"></script>
<script src="/static/js/main.js"></script>

{% endblock %}
